body {
  background: #efefef;
  text-align: center;
  font-family: helvetica;
  padding: 0px;
}

input {
  border: 0px;
  background: #cccccc;
  box-shadow: 0px 0px 2px #888888;
}

h2 {
  background: #cccccc;
  margin: 0px;
  padding: 10px;
  box-shadow: 0px 0px 2px #888888;
}

ul {
  list-style-type: none;
}

#game {
  background: #dedede;
  width: 500px;
  height: 800px;
  margin: auto;
  padding: 0px;
  box-shadow: 0px 0px 5px #888888;
}

#clock_area {
  text-align: center;
  padding: 20px;
  margin: 10px;
}

#button_area {
  text-align: center;
}

#role_area {
  text-align: center;
  padding: 20px;
}

#people_list {
  padding: 20px;
}

#location_list {
  padding: 20px;
}
